.fixed_header{
      font-family: 'Roboto';
}

.fa {
  color : rgb(79, 134, 185);
}

.fixed_header thead  {
  border: 10px;
  border-color: black;
}

.fixed_header thead th  {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-top: 0px;
  border-bottom: 0px;

  background:rgb(255, 255, 255);
  box-shadow: 0px 1px 0px 0px rgba(155, 155, 155, 0.438);
  
  position: sticky;
  top: 0;
}
.table-hover tbody tr:active td, .table-hover tbody tr:active th {
  background-color: rgba(172, 212, 252, 0.452);
}

/*scroll*/

/*
::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f1f1f1;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(163, 163, 163);
}
*/