<table class="fixed_header table table-hover">
  <thead>
    <th style="text-align: center"><i class="fa fa-inbox fa-1x"></i></th>
    <th>Inbox</th>
    <th> </th>

  </thead>
  <tbody *ngIf="emptyData == false" >
    <tr *ngFor="let data of inboxData">
      <td style="vertical-align: middle; text-align: center">
        <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
      </td>
      <td>
        <div style="font-size: 16px" *ngIf="data.from">
          <div *ngIf="data.from.name">{{data.from.name}}</div>
          <div *ngIf="!data.from.name">/* Empty Field Name</div>
        </div>
        <div *ngIf="!data.from">/* Empty Field Name</div>
        
        <div *ngIf="data.subject" style="font-size: 14px">{{data.subject}}</div>
        <div *ngIf="!data.subject" style="font-size: 14px">/* Empty Field Subject</div>


        <div *ngIf="data.body" style="font-size: 14px; color: #8b8a8a;">{{data.body}}</div>
        <div *ngIf="!data.body" style="font-size: 14px; color: #8b8a8a;">/* Empty Field Body</div>


      </td>
      <td style="vertical-align: middle; text-align: center">
        <div  style="font-size: 14px; color: #8b8a8a;">9.40pm</div>
      </td>

    </tr>
  </tbody>

  <tbody *ngIf="emptyData == true" >
      <tr>
           <td>
           </td>
           <td style="text-align: center; color: #8b8a8a;">
              Empty Email
           </td>
           <td>
           </td>
      </tr>
    </tbody>
</table>
